
<ion-header>

  <ion-navbar>
    <ion-title>{{subRubroNombre}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #f4f4f4">

  <ion-searchbar  *ngIf="hayRegistrosParaMostrar" (ionInput)="buscar($event)">      
  </ion-searchbar>

  

  <ion-grid *ngIf="!hayRegistrosParaMostrar" style="height: 90%; background-color: #f4f4f4">
      <ion-row justify-content-center align-items-center style="height: 90%">
          <ion-col col-12 style="color: gray">
              <ion-card>

                  <ion-card-header>
                      Lo sentimos!
                  </ion-card-header>
                
                  <ion-card-content>
                      Al parecer no se han encontrado registros
                  </ion-card-content>
                
                </ion-card>
          </ion-col>
      </ion-row>
    </ion-grid>


    
  <ion-list>

  <ion-item-sliding #item *ngFor="let negocio of entidadesList">
    
    <button ion-item (click)="ver_negocio(negocio)">
          <ion-avatar item-start>
              <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-woody.png">
          </ion-avatar>
          <h2>{{negocio.Nombre}}</h2>
          <p>{{negocio.Descripcion}}</p>
    </button> 

    <ion-item-options side="right">
        <button ion-button (click)="add_Favorite(negocio)">
          <ion-icon name="star">
          </ion-icon>
            Favorito
        </button>
    </ion-item-options>
  </ion-item-sliding>

</ion-list>


</ion-content>
