
<ion-header>

  <ion-navbar>
    <ion-title>{{entidad.Nombre || Title}}</ion-title>

    <ion-buttons *ngIf="!hayError"  end (click)="GuardarLocal()">
      <button  ion-button icon-only>
        <ion-icon  name="bookmark" [id]="Guardar"></ion-icon>
      </button>
    </ion-buttons>
    
    <ion-buttons *ngIf="!hayError" end (click)="AgregarQuitarFavorito()">
        <button  ion-button icon-only>
          <ion-icon  name="star" [id]="Favorito"></ion-icon>
        </button>
    </ion-buttons>


  
  </ion-navbar>


</ion-header>

<ion-content *ngIf="hayError" style="background-color: #f4f4f4">
    <ion-grid  style="height: 90%;">
        <ion-row justify-content-center align-items-center style="height: 90%">
            <ion-col col-12 style="color: gray">
                <ion-card>
  
                    <ion-card-header>
                        Lo sentimos!
                    </ion-card-header>
                  
                    <ion-card-content>
                        Al parecer algo ha salido mal
                    </ion-card-content>
                  
                  </ion-card>
            </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>


<ion-content style="background-color: #f4f4f4" *ngIf="!hayError" >

    <ion-card>
        <!-- <img src="{{UrlImagen}}"/> -->
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/card-saopaolo.png"/>
        <ion-card-content>
          <ion-card-title>
              {{entidad.Nombre}}
            </ion-card-title>
          <p>
          {{entidad.Descripcion}}
          </p>

          <ion-list>
              <ion-item>
                <ion-icon name="mail" item-start></ion-icon>
                  {{entidad.Correo}}
              </ion-item>
              <ion-item>
                  <ion-icon name="call" item-start></ion-icon>
                    {{entidad.Telefono}}
              </ion-item>
              <ion-item>
                  <ion-icon name="compass" item-start></ion-icon>
                    {{entidad.PaginaWeb}}
              </ion-item>
          </ion-list>      

        </ion-card-content>
      </ion-card>

      

      <div padding>

          <ion-segment [(ngModel)]="pet">
            <ion-segment-button value="kittens">
              Sucursales
            </ion-segment-button>
            <ion-segment-button value="puppies">
              Horarios
            </ion-segment-button>
          </ion-segment>
        </div>
        
        <div [ngSwitch]="pet">

          <ion-list *ngSwitchCase="'puppies'">

            
        <ion-item>
          <ion-thumbnail item-start>
            <img src="https://ionicframework.com/dist/preview-app/www/assets/img/card-sf.png">
          </ion-thumbnail>
          <h2>Luna</h2>
        </ion-item>
        <ion-item>
            <ion-thumbnail item-start>
              <img src="https://ionicframework.com/dist/preview-app/www/assets/img/card-sf.png">
            </ion-thumbnail>
            <h2>Luna</h2>
          </ion-item>
          <ion-item>
              <ion-thumbnail item-start>
                <img src="https://ionicframework.com/dist/preview-app/www/assets/img/card-sf.png">
              </ion-thumbnail>
              <h2>Luna</h2>
            </ion-item>                          

          </ion-list>
        
          <ion-list *ngSwitchCase="'kittens'">

            <ion-searchbar (ionInput)="getItems($event)">      
            </ion-searchbar>

            <ion-card color="" *ngFor="let sucursal of Sucursales">

                <ion-card-header text-center>
                    {{sucursal.Nombre}}
                  </ion-card-header>

                  <h2>Dirección:</h2>
                  <ion-card-content>
                      {{sucursal.Direccion}}
                  </ion-card-content>

                  <ion-item>
                      <ion-icon name="call" item-start></ion-icon>
                      <h2>Teléfono</h2>
                      <p>{{sucursal.Telefono}}</p>
                  </ion-item>

                  <ion-list>
                    <h2>Horarios:</h2>
                      
                    <ion-item>
                        <ion-icon name="clock" item-start></ion-icon>
                        <h2>Lunes a Viernes</h2>
                        <p>{{sucursal.Horarios.LunesAViernes }}</p>
                    </ion-item>

                    <ion-item>
                        <ion-icon name="clock" item-start></ion-icon>
                        <h2>Sabados</h2>
                        <p>{{sucursal.Horarios.Sabados }}</p>
                    </ion-item>
                    
                    <ion-item>
                        <ion-icon name="clock" item-start></ion-icon>
                        <h2>Domingo</h2>
                        <p>{{sucursal.Horarios.Domingos }}</p>
                    </ion-item>                    
                  </ion-list>

              </ion-card>
                
          </ion-list>

        </div>

</ion-content>
